<a href="https://colab.research.google.com/github/CMSol22/Database-Project/blob/master/Thon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![THON3.png](https://raw.githubusercontent.com/CMSol22/Database-Project/master/Images/THON3.png)

In [ ]:
%load_ext sql
%sql sqlite:///thon.db

'Connected: @thon.db'

In [ ]:
%%sql   
DROP TABLE IF EXISTS Attendees;
CREATE TABLE Attendees(attendeeID text primary key, wristbandNumber integer, firstname text, lastname text);

DROP TABLE IF EXISTS Organizations;
create table Organizations(orgID text primary key, orgType text, moneyTotal real, numMembers integer);

DROP TABLE IF EXISTS Fundraising;
create table Fundraising(eventID text primary key, eventType text, numAttendees integer, totalSales real);

DROP TABLE IF EXISTS ThonWeekend;
create table ThonWeekend(ThonID text primary key, capacity integer, activities text, guestShows text, totalRaised real);

DROP TABLE IF EXISTS DonationRecipients;
create table DonationRecipients(donationID text primary key, researchers text, ThonFamilies text, fourDiamonds text);

 * sqlite:///thon.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [ ]:
%%sql 
INSERT INTO Attendees VALUES ('00001',000345,'Christopher','Moreno');
INSERT INTO Attendees VALUES ('00002',196987,'Kevin','Schmoeller');
INSERT INTO Attendees VALUES ('00003',184200,'Moussa','Diakite');
INSERT INTO Attendees VALUES ('00004',145556,'Avery','Briggs');
INSERT INTO Attendees VALUES ('00005',002654,'Jenn','Smith');

INSERT INTO Organizations VALUES ('Alpha Sigma Phi','Fraternity',56782.55,64);
INSERT INTO Organizations VALUES ('Delta Zeta','Sorority',55467.89,36);
INSERT INTO Organizations VALUES ('Atlas','THON Org',70654.35,87);
INSERT INTO Organizations VALUES ('Volé','Club',53678.23,55);
INSERT INTO Organizations VALUES ('PSET','Club',67764.92,43);

INSERT INTO Fundraising VALUES ('001','Weirdoughs Partnership',102,445.67);
INSERT INTO Fundraising VALUES ('002','Starbucks Partnership',167,556.04);
INSERT INTO Fundraising VALUES ('003','Puppy Petting',82,267.00);
INSERT INTO Fundraising VALUES ('004','Bake Sale',63,118.50);
INSERT INTO Fundraising VALUES ('005','Instagram Story Donation Boards',16,347.32);

INSERT INTO ThonWeekend VALUES ('2016',15261,'Facepainting','Fall Out Boy',9770332.32);
INSERT INTO ThonWeekend VALUES ('2017',15986,'Watergun Fight','Logic',10045478.44);
INSERT INTO ThonWeekend VALUES ('2018',16000,'Dunk Tank','Halsey',10151663.93);
INSERT INTO ThonWeekend VALUES ('2019',15617,'Dance-Off','Cash Cash',10621683.73);
INSERT INTO ThonWeekend VALUES ('2020',7500,'Karaoke','Jonas Brothers',9436218.61);

INSERT INTO DonationRecipients VALUES ('THON 2016','Yale New Haven','Family 1','$9,645,223.00');
INSERT INTO DonationRecipients VALUES ('THON 2017','St. Jude','Family 2','$9,866,745.00');
INSERT INTO DonationRecipients VALUES ('THON 2018','Four Diamonds','Family 3','$9,801,233.00');
INSERT INTO DonationRecipients VALUES ('THON 2019','PCRF','Family 4','$9,900,230.00');
INSERT INTO DonationRecipients VALUES ('THON 2020','PCF','Family 5','$8,947,005.00');

 * sqlite:///thon.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

Question 1: What are the top three organizations in terms of money raised?

In [ ]:
%%sql
SELECT orgID FROM Organizations ORDER BY moneyTotal DESC limit 3;

 * sqlite:///thon.db
Done.

[('Atlas',), ('PSET',), ('Alpha Sigma Phi',)]

This question is possibly the most important out of the three, since it identifies not necessarily what group raised the largest amount of money, but how most groups did overall.  Using the same select command for next year’s THON would allow people to analyze what groups exceeded or fell short of their total fundraising from the previous year.  The results did add up to my expectations since the group with the highest amount of money raised was first in the list.

Question 2: How many attendees have the letter 'a' in their first name?

In [ ]:
%%sql
SELECT COUNT(firstname) FROM Attendees WHERE firstname LIKE '%a%';

 * sqlite:///thon.db
Done.

[(2,)]

This question wasn’t necessarily all that important to the context of the project, as it was more about showing how the LIKE function could be utilized and that we know how to use it.  If I were to make it adhere to the context of our project, I’d change it up to list the last names beginning with the letter ‘a’ for alphabetical reasons (this would be useful when putting together lists of attendees).  The results did match up to my expectations, as the two first names out of the five were selected, as those were the only ones with the letter ‘a’ in them.

Question 3: What fundraising event was the most effective?

In [ ]:
%%sql
SELECT eventType, MAX(totalSales) FROM Fundraising;

 * sqlite:///thon.db
Done.

[('Starbucks Partnership', 556.04)]

This question is very important in terms of the context of this project since this could help different organizations analyze what fundraising methods were most effective and which ones weren’t as effective.  This way, they can plan out their fundraising events for the following year in hope that the ones that were effective will be just as successful.  In this example, the Starbucks Partnership was the most effective, which is what I expected since their high volume of customer traffic allowed for the most amount of money to be raised out of all the other methods.