<a href="https://colab.research.google.com/github/CMSol22/Database-Project/blob/master/thon_final_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to our project

The topic we choose for our group project was THON. THON is essentially a charity event ran by students in effort of giving back to children and families strongly affected by childhood cancer. We decided to go with THON because everyone knows about THON, but not everyone knows the full process of THON; so we wanted to provide a clear understanding of the whole THON event, where donations come from and go to, and how the event is organized. We started the project by thinking of entities related to THON, after that, we listed the qualities of those entities. The easy part was making the ER diagram, we just had to make a notebook and our entities along with their qualities. After that, we just added the cardinality, connectivity, descriptions, relationships, and foreign keys where needed. Overall, the process of the project went well.

![THON 3.png](https://raw.githubusercontent.com/CMSol22/Database-Project/master/Images/THON3.png)

# ER Diagram Specifics

We were able to get our ER diagram into first normal form by making sure we had no repeating groups, multiple valued attributes, and a primary key for every table. All of entities used were related to our topic THON obviously. The attendees entity represented people who attended the THON event, the fundraising entity represented raising money for the event, the THON weekend entity is the overall entity itself, and the donation recipients entity represented the people who would recieve the donations. We got the attributes we used by breaking down our entities and finding the qualities of each entity

# 2nd Normal Form
Our latest ER diagram fits all requirements to meet second normal form. It fits the requirement to have corresponding dependent attributes. Our attributes fit the description of each individual table in our ER diagram. All of our attributes contribute and depend directly back to the primary key and foreign key of the table.

# 3rd Normal Form
Our latest ER diagram does not fit all requirements to meet third normal form. It fits the first requirement to be in second form. However, third normal form requires that there are no transitive dependencies. All though one of our tables does not have any transitive dependencies all the other tables do have them.

# Bryce-Codd Normal Form
Our latest ER diagram does not fit all requirements to meet Boyce-Codd normal form. It fails to meet the first requirement of being in third normal form. It fails to meet the second requirement of having dependencies that are super keys despite the fact that our tables do have dependencies.

# How we created our tables and populated them

We created our database by incorporating our entities and attributes in a ER diagram along with their primary keys, descriptions, relationships, connectivity, and cardinality. Each of our tables consisted of one THON entity with 3-4 attributes of the entity, at least one primary key for each table, and foreign keys for select tables. All of the data we inserted was derived from our brainstorm on the THON entities and the qualities of those entities.

# Database Code

In [ ]:
%load_ext sql
%sql sqlite:///thon.db

'Connected: @thon.db'

In [ ]:
%%sql   
DROP TABLE IF EXISTS Attendees;
CREATE TABLE Attendees(attendeeID text primary key, wristbandNumber integer, firstname text, lastname text);

DROP TABLE IF EXISTS Organizations;
create table Organizations(orgID text primary key, orgType text, moneyTotal real, numMembers integer);

DROP TABLE IF EXISTS Fundraising;
create table Fundraising(eventID text primary key, eventType text, numAttendees integer, totalSales real);

DROP TABLE IF EXISTS ThonWeekend;
create table ThonWeekend(ThonID text primary key, capacity integer, activities text, guestShows text, totalRaised real);

DROP TABLE IF EXISTS DonationRecipients;
create table DonationRecipients(donationID text primary key, researchers text, ThonFamilies text, fourDiamonds text);

 * sqlite:///thon.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [ ]:
%%sql 
INSERT INTO Attendees VALUES ('00001',000345,'Christopher','Moreno');
INSERT INTO Attendees VALUES ('00002',196987,'Kevin','Schmoeller');
INSERT INTO Attendees VALUES ('00003',184200,'Moussa','Diakite');
INSERT INTO Attendees VALUES ('00004',145556,'Avery','Briggs');
INSERT INTO Attendees VALUES ('00005',002654,'Jenn','Smith');

INSERT INTO Organizations VALUES ('Alpha Sigma Phi','Fraternity',56782.55,64);
INSERT INTO Organizations VALUES ('Delta Zeta','Sorority',55467.89,36);
INSERT INTO Organizations VALUES ('Atlas','THON Org',70654.35,87);
INSERT INTO Organizations VALUES ('Vol√©','Club',53678.23,55);
INSERT INTO Organizations VALUES ('PSET','Club',67764.92,43);

INSERT INTO Fundraising VALUES ('001','Weirdoughs Partnership',102,445.67);
INSERT INTO Fundraising VALUES ('002','Starbucks Partnership',167,556.04);
INSERT INTO Fundraising VALUES ('003','Puppy Petting',82,267.00);
INSERT INTO Fundraising VALUES ('004','Bake Sale',63,118.50);
INSERT INTO Fundraising VALUES ('005','Instagram Story Donation Boards',16,347.32);

INSERT INTO ThonWeekend VALUES ('2016',15261,'Facepainting','Fall Out Boy',9770332.32);
INSERT INTO ThonWeekend VALUES ('2017',15986,'Watergun Fight','Logic',10045478.44);
INSERT INTO ThonWeekend VALUES ('2018',16000,'Dunk Tank','Halsey',10151663.93);
INSERT INTO ThonWeekend VALUES ('2019',15617,'Dance-Off','Cash Cash',10621683.73);
INSERT INTO ThonWeekend VALUES ('2020',7500,'Karaoke','Jonas Brothers',9436218.61);

INSERT INTO DonationRecipients VALUES ('THON 2016','Yale New Haven','Family 1','$9,645,223.00');
INSERT INTO DonationRecipients VALUES ('THON 2017','St. Jude','Family 2','$9,866,745.00');
INSERT INTO DonationRecipients VALUES ('THON 2018','Four Diamonds','Family 3','$9,801,233.00');
INSERT INTO DonationRecipients VALUES ('THON 2019','PCRF','Family 4','$9,900,230.00');
INSERT INTO DonationRecipients VALUES ('THON 2020','PCF','Family 5','$8,947,005.00');

 * sqlite:///thon.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

# Scenario
A brand new THON org, called Hope, has quickly been attracting new members and growing in size.  At first it was simple and easy to keep track of the groups participant information and fundraising with only 20 members, but with 40 new added members in the last two months, they can no longer use a simple excel spreadsheet to keep track of their THON org‚Äôs data.  Hope‚Äôs captain reaches out to us in order to ask if we can create a database to help them keep track of the information of all their individual participants, the fundraising events they do, and how much they contributed to THON overall.  They also want this data stored so they can look back in the future and compare that year‚Äôs efforts to other years.

# Queries

In [ ]:
%%sql
SELECT eventType, MAX(totalSales), MAX(numAttendees) FROM Fundraising;

 * sqlite:///thon.db
Done.

[('Starbucks Partnership', 556.04, 167)]

This query is extremely helpful in this scenario because this will allow Hope to look at their past fundraising events and see which ones generated the most amount of funds/were most popular.  With this data, the group can redo events that were popular and replace events that had the least amount of activity, if necessary

In [ ]:
%%sql
SELECT OrgID, numMembers FROM Organizations ORDER BY moneyTotal DESC limit 3;

 * sqlite:///thon.db
Done.

[('Atlas', 87), ('PSET', 43), ('Alpha Sigma Phi', 64)]

The use of this one is similar to the previous SQL search query, as it's best used in terms of comparison.  Organizations can compare themselves to previous years, as well as strive to be among the top three fundraisers.  On a side note, this can also be used as a simple way to continuously keep track of the fundraising status of each and every group, so long as you get rid of the limit 3 in the code.

In [ ]:
%%sql
SELECT wristbandNumber, firstName, lastName FROM Attendees where lastName LIKE "S%";

 * sqlite:///thon.db
Done.

[(196987, 'Kevin', 'Schmoeller'), (2654, 'Jenn', 'Smith')]

This query can be very useful if anybody needs to sort a list of THON attendees alphabetically by their last name.  By doing this, any individuals that are responsible for helping to create rosters, keep track of team members, and hand out wristbands have an easy way or organizing and locating names.